<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <table>
        <tr>
            <td>
                <img src="shimi.jpeg" style="width: 10%; height: 10%; align-content: center;" />
            </td>
            <td>
                <img src="shimi2.jpg" style="width: 50%; height: 50%; align-content: center;" />
            </td>
        </tr>
    </table>

</body>

</html>